.time-left-ul-div{
	width: 260px;
	height: 200px;
	background: #c91c1c;
	border-radius: 5px;
	padding-top: 165px;
	box-sizing: border-box;
}
#notice-left-ul,#notice-right-ul{
	border: none;
	margin:auto;
	text-align: center;
}
#notice-right-ul{
	display: none;
}

/*
	样式名含spirit皆是重构样式

 */

.spirit-list-ul ul li a{
	padding: 5px 0 5px 5px;
}
.hidden-div{
	width: inherit;
	height: inherit;
	background: rgba(0,0,0,0);
	position: absolute;
	margin-top: -165px;
	border-radius: 5px;
	text-indent: 2em;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.8em;
	padding: 30px;
	text-align: left;
	color: rgba(0,0,0,0);
	font-weight: 0.5px;
}

.time-left-ul-div:hover .hidden-div{
	color: rgba(255,255,255,.7);
	background: rgba(0,0,0,.3);
}

.time-left-ul-div-p{
	box-sizing: border-box;
	display: block;
	width: 100%;
	background: rgba(0,0,0,.3);
	color: #fff;
	text-align: center;
	padding: 5px;
}
.spirit-list-ul ul li{
	display: inline-block;
	padding: none;
	padding: 5px;
}

#notice-left-ul ul li a.time-left-ul-div:hover{
	background: #fff;
}

.spirit .spirit-list-ul #notice-left-ul .notice-left-ul-li:hover{
	transform: scale(2);
}
.spirit-list-ul ul li a{
	border-bottom: none;
}